<div class="modal fade" name="edit-cojin" id="edit-cojin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-confirmation">
                <h5 class="modal-title text-white"><i class=""></i>Editar cojín</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="form-edit-cojin">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-group" style="text-align: justify;">
                            <div class="title mb-2">Ingrese datos del cojín a modificar:</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-warning">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>