<div class="modal fade" name="remove-cojin" id="remove-cojin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header-confirmation" style="background: #dc3545">
                <h5 class="modal-title text-white"><i class=""></i>Eliminación de cojín</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" style="outline:none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="form-remove-cojin">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-group" style="text-align: justify;">
                            <div class="title mb-2">¿Quieres eliminar el presente cojín?</div>
                            <span>Si realizas la siguiente acción de eliminación, el cojín seleccionado será eliminado.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>