<html>
<h1>INGRESE CARACTERISTICAS:</h1>
<form action="index">
    <input type="submit" value="Volver a la pagina principal" />
</form>
<br>


<form action="" method="GET">

Sexo:
  <select name="sexo">
    <option value="">-</option>
    <option value="masculino">masculino</option>
    <option value="femenino">femenino</option>
  </select>
  <br><br>

Color de ojos:
  <select name="ojos">
    <option value="">-</option>
    <option value="negros">negros</option>
    <option value="verdes">verdes</option>
    <option value="azules">azules</option>
  </select>
  <br><br>

Contextura física:
<select name="contextura">
  <option value="">-</option>
  <option value="delgada">delgada</option>
  <option value="atletica">atletica</option>
  <option value="ancha">ancha</option>
</select>
  <br><br>

Color de pelo:
  <select name="pelo">
    <option value="">-</option>
    <option value="negro">negro</option>
    <option value="castaño">castaño</option>
    <option value="rubio">rubio</option>
    <option value="pelirojo">pelirojo</option>
    <option value="canoso">canoso</option>
    <option value="tinturado">tinturado</option>
  </select>
  <br><br>

Tez de piel:
  <select name="piel">
    <option value="">-</option>
    <option value="palida">palida</option>
    <option value="clara">clara</option>
    <option value="bronceada">bronceada</option>
    <option value="oscura">oscura</option>
  </select>
    <br><br>

  Nacionalidad:
  <select name="nacionalidad">
    <option value="">-</option>
    <option value="chilena">chilena</option>
    <option value="extranjera">extranjera</option>
  </select>
  <br><br>

  Tono de voz:
  <select name="tono">
    <option value="">-</option>
    <option value="aguda">aguda</option>
    <option value="medio">medio</option>
    <option value="grave">grave</option>
  </select>
  <br><br>

Tatuajes:
  <br><input type="checkbox" name="tat1" value="cara"> Cara <br>
  <input type="checkbox" name="tat2" value="torso"> Torso <br>
  <input type="checkbox" name="tat3" value="brazos"> Brazos <br>
  <input type="checkbox" name="tat4" value="piernas"> Piernas <br>

<br><br>
Altura mínima:
<input type="number" name="min" min="140" max="230">
<br>
Altura máxima:
<input type="number" name="max" min="140" max="230">
<br><br>

  <input type="submit" value="buscar">
</form>


<br><br>
</html>
