{% extends "base.html" %}

{% block content %}
<h1>COJINES DISPONIBLES</h1>
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Ver Producto</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>
          <form method="GET" action="/producto/{{producto.id}}/">
            <input type="submit" value="Ver" name="action1"/>
          </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}